@font-face {
  font-family: "--Raleway-Bold"; /* Nome da fonte, pode ser qualquer nome */
  src: url("../font/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "--Raleway-Medium"; /* Nome da fonte, pode ser qualquer nome */
  src: url("../font/Raleway-Medium.ttf") format("truetype");
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #d2e6e4;
  font-weight: bold;
  font-size: 22px;
  padding: 18px;
  font-family: "--Raleway-Regular", sans-serif;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #f1550cd3;
  text-decoration: none;
}

.item a:hover {
  color: #f55b14;
}
