.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #d2e6e4;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #0b7077;
  text-decoration: none;
}

.item a:hover {
  color: #085055;
}
